<!DOCTYPE html>
<html>
  <head>
    <title>DeviceMotion Test</title>
  </head>
  <body>
    <div>
      <button onClick="deviceMotionRequest()">Click</button>
      <div>
        X: <span id="x">0</span>
      </div>
      <div>
        Y: <span id="y">0</span>
      </div>
      <div>
        Z: <span id="z">0</span>
      </div>
    </div>
    <script>
      let motionData = { x: 0, y: 0, z: 0 };
      let sendingData = false;

      function deviceMotionRequest() {
        if (typeof DeviceMotionEvent.requestPermission === 'function') {
          DeviceMotionEvent.requestPermission()
            .then(permissionState => {
              if (permissionState === 'granted') {
                window.addEventListener("devicemotion", handleDeviceMotion);
                startSendingData();
              } else {
                alert('Permission denied for DeviceMotion');
              }
            })
            .catch(console.error);
        } else {
          window.addEventListener("devicemotion", handleDeviceMotion);
          startSendingData();
        }
      }

      function handleDeviceMotion(event) {
        if (!event.accelerationIncludingGravity) {
          alert('event.accelerationIncludingGravity is null');
          return;
        }

        motionData.x = event.accelerationIncludingGravity.x.toFixed(2);
        motionData.y = event.accelerationIncludingGravity.y.toFixed(2);
        motionData.z = event.accelerationIncludingGravity.z.toFixed(2);

        document.getElementById('x').innerHTML = motionData.x;
        document.getElementById('y').innerHTML = motionData.y;
        document.getElementById('z').innerHTML = motionData.z;
      }

      function startSendingData() {
        if (!sendingData) {
          sendingData = true;
          setInterval(() => {
            sendAccelerationData(motionData);
          }, 100);  // 100ミリ秒ごとにデータを送信 (1秒間に10回)
        }
      }

      async function sendAccelerationData(data) {
        try {
          let response = await fetch('/acceleration_data', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          });

          let result = await response.json();
          console.log(result);
        } catch (error) {
          console.error('Error sending acceleration data:', error);
        }
      }
    </script>
  </body>
</html>
